* {
    background-color: rgb(209, 13, 249);
}

h1 {
    color: yellowgreen;
    background-color: rgb(30, 150, 242);
}

p {
    color: rgb(255, 255, 255 );
    background-color: rgb(30, 150, 242);
    font-size: 30px;
    text-transform: uppercase;
}

button {
    color: gold;
    background-color: saddlebrown;
    letter-spacing: 2px;
}

.lorem1 {
    text-align: center;
    font-weight: bolder;
    font-size: x-large;
    text-decoration: red wavy;
    line-height: 1.5;
    letter-spacing: 45px;
    
}

.lorem2 {
    text-align: justify;
}

#textdecoration {
    text-decoration: wavy;
    text-decoration-color: black ;
       
}