div {
    height: 100px;
    width: 100px;
    background: red;
    margin-top: 10px;  
    margin: 0 auto;  
    /* transition: width 4s , height 4s, border-radius 4s, ease 0.2s; */
    transition:  3s ease ;

}

div:hover {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: black;
    margin-top: 400px;


}